@model IEnumerable<LibraryAPI2.Models.BookWithStatus>

@{
    ViewData["Title"] = "ListBooks";
}

<h1>Book List</h1>

<p>
    @Html.ActionLink("Add New Book", "AddBook", "Admin")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Book Id
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Genre
            </th>
            <th>
                Price
            </th>
            <th>
                Is Available?
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAvailable)
            </td>
        </tr>

        }

    </tbody>
</table>
<p align="center">
    @Html.ActionLink("Make a book Available", "MakeAvailable", "Admin")
</p>
<p align="center" > 
    @Html.ActionLink("Make a book Unavailable", "MakeUnavailable", "Admin")
</p>